<!DOCTYPE html>

<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">


<head>

    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/Form-Project.css}">
    <title></title>

</head>

<body>
<div th:block th:include="fragments/formNav :: formNav">

</div>

<div class="header3">


    </form>

    <form id="newForm">
        <input class="pname" type="text" name="pname" placeholder="Name of Project">
        <Br>

        <textarea type=" text" class="field" placeholder="Your Message"></textarea> <br>

        <input type="button" class="submit" onclick="newFunction()" value="Save">
    </form>
    <script>
        function newFunction() {
            document.getElementById("newForm").reset();
        }
    </script>


</div>
</body>

</html>